
/user/_thumb/*
/user/application/runtime/*
/user/upload/
/user/public/*

/nnys-admin/_thumb/*
/nnys-admin/application/runtime/*
/nnys-admin/upload/*
/_thumb/*
/upload/*
/application/runtime/*
/.idea
*.ini
.htaccess
/Users/panduo/Sites/nn2/libs/Library/configs.php
/libs/Library/configs.php
/static/*
conf/configs.php
nnys-admin/conf/configs.php
user/conf/*
